<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maida Guzman</title>
    <meta name="description" content="Maida Guzman • Full Stack Web Developer | JS, ReactJS, MySQL | Portfolio">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/logo/logo-m.ico">
</head>
<body>
    <div class="noise"></div>
    <header class="main-header">
        <nav class="main-nav">
            <div class="logo"></div>
            <ul class="right-nav">
                <li ><a class="underline-animation" href="#work">Work</a></li>
                <li ><a class="underline-animation" href="#about">About</a></li>
                <li ><a class="underline-animation" href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="main">
            <div class="main-text">
                <h1 class="main-title">MAIDA GUZMAN</h1>
                <h4 class="main-sub">FULL STACK DEVELOPER</h4>
                <a class="btn-main" href="#work">WORK</a>
            </div>
        </section>
        <section id="main">
            <div class="main-text">
                <h1 class="main-title">MAIDA GUZMAN</h1>
                <h4 class="main-sub">FULL STACK DEVELOPER</h4>
                <a class="btn-main" href="#work">WORK</a>
            </div>
        </section>
        <section id="work">

        </section>
        <section id="about">

        </section>
        <section id="skills">

        </section>
        <section id="contact">

        </section>
    </main>
    <footer></footer>
    <script src="./js/main.js"></script>
</body>
</html>