* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* FONTS */
body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 400;
}
.main-title {
  font-family: "Urbanist", sans-serif;
}

body a {
  text-decoration: none;
  font-size: 2rem;
}

body li {
  list-style: none;
}

/* HEADER  */

/* .main-header {
  background-color: transparent;
  position: fixed;
  top: 0px;
} */
.main-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 1s;
}
.main-nav {
  display: flex;
  min-height: 8vh;
  width: 90%;
  margin: auto;
  align-items: center;
  /* justify-content: space-between; */
  padding: 5rem 2rem;
  /* flex-wrap: wrap; */
}
.main-nav a {
  color: #ffffff;
}
/* .logo {
  flex: 7 1 20rem;
}
.right-nav {
  display: flex;
  flex: 1 1 20rem;
  justify-content: space-between;
} */

.logo {
  width: 50%;
}
.right-nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.right-nav li {
  padding-left: 11rem;
}

/* underline animation */

.underline-animation {
  position: relative;
  padding: 0.5rem 0;
}
.underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* MAIN */
main {
  /* position: absolute;
  top: 0px; */
  width: 100%;
}
#main {
  min-height: 100vh;
  background: linear-gradient(180deg, #1c1d20 0%, rgba(0, 22, 24, 0.84) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-text {
  width: 100%;
  text-align: center;
  margin-top: 178px;
}
.main-title {
  font-size: 8.6rem;
  font-weight: 400;
  letter-spacing: 0.69rem;
}
.main-sub {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.37rem;
  margin-top: 20px;
  margin-bottom: 93px;
}

.btn-main {
  margin-top: 10px;
  padding: 1rem 5.3rem;
  color: #97ead2;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  border: 1px solid #97ead2;
  background: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn-main:hover {
  background: #97ead2;
  color: rgba(31, 31, 31, 0.95);
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  z-index: 1000;
  pointer-events: none;
  background: url("/img/home/noise.gif");
}
